@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* font-family: 'Roboto', sans-serif; */

:root {
  --darkblue: #1F2937;
  --charcoal: #36454f;
  --lightcharcoal: #4e6472;
  --solidwhite: #fff;
  --lightgray: #E5E7EB;
  --beachblue: #3882F6;
  --aqua: #52B2BF;
  --seablue: #4f8be6;
  --slategray: #5e7493;
  --coral: #e66465; 
  --grayblue: #9198e5;
  --seafoam: #48AAAD; 
  --royalblue: #3944BC;
  --beachlifegreen: #0492C2; 
  --babybeach: #82EFFD;
  --grayishgreen: #9198e5;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 7em 0;
  max-width: 1200px;
}

.navbar {
  min-height: 15vh;
}

.navbar__container {
  margin: 0 auto;
  padding-top: .5em;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  flex: 2;
}

.logo img {
  width: 200px;
}

.nav__item {
  list-style: none;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.nav__links--link {
  text-decoration: none;
  color: var(--darkblue);
}

.hero {
  background-color: var(--darkblue);
  color: var(--solidwhite);
  min-height: 85vh;
}

.hero__main {
  /* text-transform: uppercase; */
  font-size: 3rem;
  font-weight: bold;
  color: var(--solidwhite);
  width: 60%;
}

.hero__container {
  display: flex;
  justify-content: space-evenly;
}

.hero__secondary {
  font-size: 1.125rem;
  color: var(--solidwhite);
  line-height: 1.25;
  width: 50%;
}

.hero img {
  width: 1400px;
  max-width: 100%;
}

button {
  color: var(--solidwhite);
  padding: .5em 2em;
  font-size: 1.125rem;
  border-radius: 5px;
  border: 2px solid var(--solidwhite);;
  border-style: solid;
}

.hero__btn {
  background-color: var(--beachblue); 
}

.footer__btn {
  background-color: var(--aqua); 
}

button:hover {
  background-color: var(--seablue);
  cursor: pointer;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
}

.gallery__title {
  display: flex;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--slategray);
}

.gallery__title--title {
  font-size: 2.5rem;
  color: var(--lightcharcoal);
}

hr {
  color: var(--lightgray);
  width: 200px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 250px;
  padding: 1em;
}

.card-1, .card-2, .card-3, .card-4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.card-1 {
  background: linear-gradient(var(--coral), var(--grayblue)); 
}

.card-2 {
  background: linear-gradient(var(--royalblue) , var(--seafoam));
}

.card-3 {
  background: linear-gradient(var(--beachlifegreen), var(--babybeach));
}

.card-4 {
  background: linear-gradient(var(--aqua), var(--grayishgreen));
}

.card__title {
  text-transform: uppercase;
  font-weight: 500;
}

.card__desc {
  color: var(--slategray);
}

.quote-section {
  background-color: var(--lightgray);
}

.quote__container {
  display: flex;
  flex-direction: column;
  color: var(--lightcharcoal);
}

.quote__text {
  font-size: 2.25rem;
  font-style: italic;
  justify-content: center;
  color: var(--darkblue);
  margin: 10px;
  padding: 2px;
}

.quote__author {
  justify-content: flex-end;
  align-items: center;
}

.quote__container {
  width: 50%;
}

.footer {
  margin: 3em 0;
  padding: 1.5em 0;
}

.footer__container {
  background-color: var(--aqua);
  color: var(--solidwhite);
  width: 50%;
  padding: 3.5em;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.footer__right {
  align-items: flex-end;
}

.credit {
  padding-top: 2em;
}

.footer__credit {
  text-decoration: center;
  font-size: .1675em;
}